.header_nav {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  min-height: calc(100vh - 64px - 50px);
}
.page-footer {
  padding-top: 0 !important;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.loader {
  height: calc(100vh - 64px - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp_search{
  margin-right: 25px;
  width: calc(100% - 125px);
}
label{
  margin-right: 20px;
  
}
